In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['foo','foo','bar','foo','bar','foo'],
                'B':['one','two','three','two','two','one'],
                'C':np.random.randint(5,size=6),
                'D':np.random.randint(5,size=6),
                'E':np.random.randint(5,size=6)})
print("\noriginal DataFrame\n",df)

original DataFrame
      A      B  C  D  E
0  foo    one  3  4  3
1  foo    two  3  1  3
2  bar  three  1  4  2
3  foo    two  0  0  0
4  bar    two  2  0  1
5  foo    one  0  0  0

In [5]:
df1=df.groupby(['A','B'],as_index=False)['C'].sum()
print("\noriginal DataFrame\n",df)
print("\nGroup by(multi-colu,mn):witjh one column sum\n",df1)

original DataFrame
      A      B  C  D  E
0  foo    one  3  4  3
1  foo    two  3  1  3
2  bar  three  1  4  2
3  foo    two  0  0  0
4  bar    two  2  0  1
5  foo    one  0  0  0

Group by(multi-colu,mn):witjh one column sum
      A      B  C
0  bar  three  1
1  bar    two  2
2  foo    one  3
3  foo    two  3

In [6]:
df2=df.groupby(['A','B'],as_index=False)['C'].sum()
print("\noriginal DataFrame\n",df)
print("\nGroup by(multi-colu,mn):witjh multi column sum\n",df2)

original DataFrame
      A      B  C  D  E
0  foo    one  3  4  3
1  foo    two  3  1  3
2  bar  three  1  4  2
3  foo    two  0  0  0
4  bar    two  2  0  1
5  foo    one  0  0  0

Group by(multi-colu,mn):witjh multi column sum
      A      B  C
0  bar  three  1
1  bar    two  2
2  foo    one  3
3  foo    two  3

In [8]:
df3=df.groupby(['A','B'],as_index=False)['C'].sum()
print("\noriginal DataFrame\n",df)
print("\ncompiened groupby and aggregte function\n",df3)

original DataFrame
      A      B  C  D  E
0  foo    one  3  4  3
1  foo    two  3  1  3
2  bar  three  1  4  2
3  foo    two  0  0  0
4  bar    two  2  0  1
5  foo    one  0  0  0

compiened groupby and aggregte function
      A      B  C
0  bar  three  1
1  bar    two  2
2  foo    one  3
3  foo    two  3

In [10]:
df4=(df.groupby(['A','B'])
    .agg([('average','mean'),('total','sum')]))
print("\n original DataFrame\n",df)
print("\ncombined groupby and aggregate function-separate column headings\n",df)

 original DataFrame
      A      B  C  D  E
0  foo    one  3  4  3
1  foo    two  3  1  3
2  bar  three  1  4  2
3  foo    two  0  0  0
4  bar    two  2  0  1
5  foo    one  0  0  0

combined groupby and aggregate function-separate column headings
      A      B  C  D  E
0  foo    one  3  4  3
1  foo    two  3  1  3
2  bar  three  1  4  2
3  foo    two  0  0  0
4  bar    two  2  0  1
5  foo    one  0  0  0

In [12]:
df5=df.groupby(['A','B'],as_index=False).sum()
df6=(df.groupby(['A','B']).agg(['sum']))
print("\noriginal DataFrame\n",df)
print("\ngroupby-sum function\n",df5)
print("\ngroupby and aggregate-sum function\n",df6)

original DataFrame
      A      B  C  D  E
0  foo    one  3  4  3
1  foo    two  3  1  3
2  bar  three  1  4  2
3  foo    two  0  0  0
4  bar    two  2  0  1
5  foo    one  0  0  0

groupby-sum function
      A      B  C  D  E
0  bar  three  1  4  2
1  bar    two  2  0  1
2  foo    one  3  4  3
3  foo    two  3  1  3

groupby and aggregate-sum function
             C   D   E
          sum sum sum
A   B
bar three   1   4   2
    two     2   0   1
foo one     3   4   3
    two     3   1   3