In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h' ],columns=['one', 'two', 'three'])
print(df)

        one       two     three
a -0.788131  0.806449 -0.864389
c -2.082081 -0.683090  0.415641
e  1.279873 -0.702494  0.664043
f -0.318943 -1.058340  0.928040
h  1.135188  1.898588  0.541814

In [3]:
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("Original DataF rame with NaN\n",df)
print("\n")

Original DataF rame with NaN
         one       two     three
a -0.788131  0.806449 -0.864389
b       NaN       NaN       NaN
c -2.082081 -0.683090  0.415641
d       NaN       NaN       NaN
e  1.279873 -0.702494  0.664043
f -0.318943 -1.058340  0.928040
g       NaN       NaN       NaN
h  1.135188  1.898588  0.541814

In [4]:
print("Dropped Data Frame\n",df.dropna())
print("\n")

Dropped Data Frame
         one       two     three
a -0.788131  0.806449 -0.864389
c -2.082081 -0.683090  0.415641
e  1.279873 -0.702494  0.664043
f -0.318943 -1.058340  0.928040
h  1.135188  1.898588  0.541814

In [5]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two','three'])
df = df.reindex(['a', 'b', 'c'])
print ("Original DataFrame:\n",df)
print("\n")

Original DataFrame:
         one       two     three
a -0.722143 -0.189024 -0.286251
b       NaN       NaN       NaN
c  0.381082 -0.621267  1.730006

In [7]:
print ("NaN replaced with '0':\n")
print(df.fillna(0))


        
df=pd.DataFrame({'one':(10,20,30,40,50,2000),'two':(1000,0,30,40,50,60)})
print("\nOrigina1 DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({1000:10,2000:60,40:400,0:100}))

NaN replaced with '0':

        one       two     three
a -0.722143 -0.189024 -0.286251
b  0.000000  0.000000  0.000000
c  0.381082 -0.621267  1.730006

Origina1 DataFrame:
     one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

 DataFrame with replaced values:

   one  two
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5   60   60

In [8]:
df=pd.DataFrame({'one':(10,20,30,40,50,2000),'two':(1000,0,30,40,50,60)})
print("\nOrigina1 DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({1000:10,2000:60,40:400,0:100}))

Origina1 DataFrame:
     one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

 DataFrame with replaced values:

   one  two
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5   60   60

In [9]:
df =pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'], columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print("\nOriginaI DataFrame:\n™",df)
print("\nNan- with True fi1l:\n")
print (df['one'].isnull())

OriginaI DataFrame:
™         one       two     three
a  0.010416 -2.277964 -0.356899
b       NaN       NaN       NaN
c -0.868186  1.666734 -0.670303
d       NaN       NaN       NaN
e -1.493567  0.032356 -1.727499
f  1.450119  0.471222  0.279873
g       NaN       NaN       NaN
h  2.934687 -1.357005 -0.144403

Nan- with True fi1l:

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [10]:
df=pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three' ] )
df=df.reindex(['n', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print("\nOriginaI DataFrame:\n",df)

OriginaI DataFrame:
         one       two     three
n       NaN       NaN       NaN
b       NaN       NaN       NaN
c  0.335191 -1.063929  0.636804
d       NaN       NaN       NaN
e  1.135178  0.767765 -0.785604
f -0.333936 -1.129813  0.070942
g       NaN       NaN       NaN
h -0.689243  1.046310  0.614678

In [11]:
print("\n NaN - Filled with Forward vaIue3:\n")
print (df.fillna(method='pad'))
print("\nNaN - Filled with Background values:\n")
print (df.fillna(method='bfill'))

 NaN - Filled with Forward vaIue3:

        one       two     three
n       NaN       NaN       NaN
b       NaN       NaN       NaN
c  0.335191 -1.063929  0.636804
d  0.335191 -1.063929  0.636804
e  1.135178  0.767765 -0.785604
f -0.333936 -1.129813  0.070942
g -0.333936 -1.129813  0.070942
h -0.689243  1.046310  0.614678

NaN - Filled with Background values:

        one       two     three
n  0.335191 -1.063929  0.636804
b  0.335191 -1.063929  0.636804
c  0.335191 -1.063929  0.636804
d  1.135178  0.767765 -0.785604
e  1.135178  0.767765 -0.785604
f -0.333936 -1.129813  0.070942
g -0.689243  1.046310  0.614678
h -0.689243  1.046310  0.614678