In [1]:
import pandas as p
df=p.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
emp_name=p.Series(['Ramesh','Suresh','Shravan'])
emp_id=p.Series([11012,12334,23455])
frame={'EMP ID':emp_id,'NAME':emp_name}
table=p.DataFrame(frame)
print(table)

   EMP ID     NAME
0   11012   Ramesh
1   12334   Suresh
2   23455  Shravan

In [4]:
print(table['EMP ID'])

0    11012
1    12334
2    23455
Name: EMP ID, dtype: int64

In [5]:
table['SALARY']=p.Series([700000,1200000,1000000])
print(table)

   EMP ID     NAME   SALARY
0   11012   Ramesh   700000
1   12334   Suresh  1200000
2   23455  Shravan  1000000

In [7]:
del table['EMP ID']
print(table)

      NAME   SALARY
0   Ramesh   700000
1   Suresh  1200000
2  Shravan  1000000

In [8]:
print(table.loc[2])

NAME      Shravan
SALARY    1000000
Name: 2, dtype: object

In [9]:
print(table[1:3])

      NAME   SALARY
1   Suresh  1200000
2  Shravan  1000000

In [10]:
addi=p.DataFrame([['Mayank','1200000'],['Ragul','1000000']],columns=['NAME','SALARY'])
table=p.concat([table,addi])
print(table)

      NAME   SALARY
0   Ramesh   700000
1   Suresh  1200000
2  Shravan  1000000
0   Mayank  1200000
1    Ragul  1000000