In [3]:
import numpy as n
import pandas as p
table=p.DataFrame([[25,36]]*4,columns=['FIVE','SIX'])
print(table)

   FIVE  SIX
0    25   36
1    25   36
2    25   36
3    25   36

In [5]:
print(table.apply(n.sqrt))

   FIVE  SIX
0   5.0  6.0
1   5.0  6.0
2   5.0  6.0
3   5.0  6.0

In [6]:
print(table.apply(n.sum,axis=1))

0    61
1    61
2    61
3    61
dtype: int64

In [7]:
print(table.apply(n.sum,axis=0))

FIVE    100
SIX     144
dtype: int64

In [8]:
table1=p.DataFrame([[12,54,1],[31,4,12],[62,34,56]],columns=['X','Y','Z'])
print(table1)

    X   Y   Z
0  12  54   1
1  31   4  12
2  62  34  56

In [9]:
print(table1.agg(['min','max']))

      X   Y   Z
min  12   4   1
max  62  54  56

In [10]:
table3=p.DataFrame(n.random.randn(3,2),index=[1,2,0],columns=['col1','col2'])
print(table3)

       col1      col2
1 -0.201022  0.678936
2 -0.060823  0.641589
0 -1.334105  0.907730

In [11]:
table4=table3.sort_index()
print(table4)

       col1      col2
0 -1.334105  0.907730
1 -0.201022  0.678936
2 -0.060823  0.641589

In [12]:
table5=table3.sort_values(by='col1')
print(table5)

       col1      col2
0 -1.334105  0.907730
1 -0.201022  0.678936
2 -0.060823  0.641589

In [13]:
t1=p.DataFrame({'ID':[12,34,56],'Name':['Prakash','Raj','Sarath'],'sub':['sub1','sub2','sub3']})
print(t1,"\n")
t2=p.DataFrame({'ID':[32,36,154],'Name':['Keshav','Rajiv','Saran'],'sub':['sub3','sub2','sub1']})
print(t2,"\n")
print(p.merge(t1,t2,on='sub'))

   ID     Name   sub
0  12  Prakash  sub1
1  34      Raj  sub2
2  56   Sarath  sub3

    ID    Name   sub
0   32  Keshav  sub3
1   36   Rajiv  sub2
2  154   Saran  sub1

   ID_x   Name_x   sub  ID_y  Name_y
0    12  Prakash  sub1   154   Saran
1    34      Raj  sub2    36   Rajiv
2    56   Sarath  sub3    32  Keshav